<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Saisir un article</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{css/style.css}">
</head>

<body>
	<div layout:fragment="content">
		<div class="col-md-4 col-xs-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Saisir nouvel article</div>
				<div class="panel-body">
					<form th:action="@{/save}" method="post">
						<div class="form-group">
							<label class="control-label"> Description : </label> <input
								class="form-control" type="text" name="description"
								th:value="${article.description}"> <span
								th:errors="${article.description}"></span>
						</div>
						<div class="form-group">
							<label class="control-label"> Marque : </label> <input
								class="form-control" type="text" name="brand"
								th:value="${article.brand}"> <span
								th:errors="${article.brand}"></span>
						</div>
						<div class="form-group">
							<label class="control-label"> Prix : </label> <input
								class="form-control" type="number" name="price"
								th:value="${article.price}"> <span
								th:errors="${article.price}"></span>
						</div>
						<div class="from-group">
<!-- 								<div class="dropdown"> -->
<!-- 									<button class="btn btn-secondary dropdown-toggle" type="button" -->
<!-- 										id="dropdownMenuButton1" data-bs-toggle="dropdown" -->
<!-- 										aria-expanded="false">Selectionnez la categorie</button> -->
<!-- 									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" th:each="c:${listCategory}"> -->
<!-- 										<li><a th:class="dropdown-item" th:text="${c.name}" th:value="${c.id}"> Test </a></li> -->
<!-- 									</ul> -->
<!-- 								</div> -->
							<label> Choisissez une catégorie</label>
							<select th:each="c:${listCategory}">
								<option th:text="${c.name}"></option>
							</select>

						</div>
						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>
			</div>

		</div>
	</div>
</body>